.footer {
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 30px;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.brand h3 {
  font-size: 1.8rem;
}

.contacts {
  width: 60%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
  position: relative;
}

.link:hover {
  color: var(--hover-color);
}

.link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--text-color);
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

.link:hover::after {
  width: 100%;
}
