* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ffffff;
  --secondary-color: #f0f0f0;
  --text-color: #262626;
  --text-color2: #6b6b6b;
  --hover-color: #ff6347;
  --success-color: #28a745;
  --success-hover: #1a682c;
  --cancel-color: #dc3545;
  --cancel-hover: #851f29;
  --border-color: #ccc;
  --text-btn-color: white;
}

[data-theme="dark"] {
  --primary-color: #121212;
  --secondary-color: #a0a0a0;
  --text-color: blue;
  --text-color2: red;
  --hover-color: #ff6347;
  --success-color: #28a745;
  --cancel-color: #dc3545;
  --border-color: #444;
}
