
.salesForm {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  gap: 2rem;
}
.line {
  background-color: #ccc;
  border: 2px solid #f0f0f0;
  flex: 1;
  max-width: 5px;
}

.customSelect {
  flex: 1;
  margin-top: 2rem;
}

.selectHeader {
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  text-align: center;
  margin-bottom: 1rem;
}

.selectOptions {
  background-color: white;

  border-radius: 4px;
  flex-direction: column;
  max-height: 400px;
  overflow-y: auto;
  margin-top: 0.5rem;
}
.selectOptions::-webkit-scrollbar {
  display: none;
}
.selectOption {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.selectOption:hover {
  background-color: #f0f0f0;
}

.productImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.productInfo {
  font-size: 14px;
  flex: 1;
}

.productInfo span {
  font-weight: bold;
}

.cart {
  margin-top: 2rem;
  flex: 1.4;
}
.cartHeader {
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  text-align: center;
  margin-bottom: 1rem;
}

.cartItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.cartItem:hover {
  background-color: #f0f0f0;
}
.cartProductImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.cartProductInfo {
  flex: 1;
  font-size: 14px;
}

.cartProductInfo span {
  font-weight: bold;
}

.cartProductInfo p {
  font-size: 12px;
  margin: 5px 0;
}

.quantityControls {
  display: flex;
  align-items: center;
}

.quantityButton {
  width: 30px;
  height: 30px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantityButton:disabled {
  cursor: not-allowed;
  background-color: #e0e0e0;
}

.quantityInput {
  width: 50px;
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 16px;
}

.removeButton {
  margin-left: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.removeButton:hover {
  background-color: darkred;
}
.divDiscount {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 0.5rem;
  margin-top: 1rem;
}
.discount {
  max-width: 130px;
  padding: 8px 16px;
  border: 1px solid #ccc;
}
.discount:focus {
  border: 2px solid #ccc;
  outline: none;
}
.divSubmitButton {
  display: flex;
  justify-content: center;
}

.submitButton {
  width: 70%;
  justify-self: center;
  align-self: center;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.submitButton:hover {
  background-color: darkgreen;
}
